<!--<div class="bieruhrcontainer">-->
    <!--<div id="page1" class="page">-->
      <!--<div class="bolzen"></div>-->
      <!--<div class="thriller"></div>-->
      <!--<div id="result"> wert</div>-->
    <!--</div>-->

    <!--<div id="page2" class="page">-->
    <!--</div>-->
<!--</div>-->

<!--<div class="pageswitcher">-->
  <!--<div id="rad_button">Rad</div>-->
  <!--<div id ="tafel_button">Tafel</div>-->
<!--</div>-->

<div class='row entry'>

  <div class='row entry_header'>
    <div class='column large-9 entry_title'>
      Bieruhr
    </div>
    <div class='column large-3 entry_date right'>
    </div>
  </div>

  <div class='row entry_body'>
    <div id="page1" class="page">
      <div class="bolzen"></div>
      <div class="bieruhr_rahmen">
      <div class="thriller">&nbsp;</div>
      </div>
    </div>
      <div id="result"></div>

    <div id="page2" class="page">
    </div>
  </div>

  <!--<div class='row entry_footer'>-->
    <!--<div class='column large-9 right entry_buttons'>-->
      <!--<ul class='button-group'>-->
            <!--<li class='button small secondary rad_button'>-->
              <!--<%= link_to 'Bieruhr', "#" %>-->
            <!--</li>-->
            <!--<li class='button small secondary tafel_button'>-->
              <!--<%= link_to 'Tafel', "#" %>-->
            <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
</div>