<h2>Anlässe - <%= render @verbindung %></h2>

<div class="events">
<% @events.each do |event|%>
    <%= render event %>
<% end %>
</div>

<br />
<% if (current_user.root? || current_user.admin?) then %>
    <%= link_to 'New Event', new_verbindung_event_path(@verbindung) %>
<% end %>
<%= link_to 'Archiv', events_archive_verbindung_path(@verbindung) %>