<h2>Kanten - <%= render @verbindung %></h2>

<div class="kanten">
  <% @entities.each do |entity|%>
      <%= render entity %>
  <% end %>
</div>

<br />
<% if (current_user.root? || current_user.admin?) then %>
    <%= link_to 'Neuer Kant', new_verbindung_kant_path(@verbindung) %>
<% end %>