<p>Guten Tag <%= @email %>!</p>

<p>Sie können Ihren Account durch untenstehenden Link bestätigen:</p>

<p><%= link_to 'Bestätige meinen Account!', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
