<p>Guten Tag <%= @resource.email %>!</p>

<p>Es wurde eine Änderung des Passwords angefordert. Sie können das Passwort mit untenstehendem Link ändern:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Wenn Sie die Änderung nicht angefordert haben, so ignorieren Sie diese Mail</p>
<p>Ihr Passwort wird nicht geändert, solange Sie nicht den obenstehenden Link betätigen.</p>
