<span class="verbindung">
  <%= link_to(verbindung.name, verbindung, title:'') %>
  <div class="detail_tooltip">
    <%= verbindung.name + (if verbindung.ort? then " ("+verbindung.ort+")" end) %> <br />
    Anzahl Mitglieder: <%= verbindung.users.count %>
  </div>
</span>