<h2>Vergangene Anlässe - <%= render @verbindung %></h2>

<div class="events">
  <% @events.each do |event|%>
      <%= render event %>
  <% end %>
</div>

<br />

<%= link_to 'Aktuelle Anlässe', verbindung_events_path(@verbindung) %>