<h2>Statuten - <%= render @verbindung %></h2>

<div class="paragraphs">
  <% @entities.each do |entity|%>
      <%= render entity %>
  <% end %>
</div>

<br />
<% if (current_user.root? || (current_user.admin? && current_user.verbindung_id == @verbindung.id)) then %>
    <%= link_to 'Neuer Paragraph', new_verbindung_paragraph_path(@verbindung) %>
<% end %>